<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Barcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form (ngSubmit)="scanCode()" #registerForm="ngForm">
          <div text-center>
            <h4>Scan barcode</h4>
          </div>

          <div padding>
            <ion-button click="scanCodeHome()" size="large" full type="submit" expand="block" [disabled]="!registerForm.form.valid">Scan</ion-button>
          </div>
        </form>
        <form (ngSubmit)="login()" #registerForm="ngForm">
          <div padding>
            <ion-item>
              <ion-input type="text" placeholder="Barcode" [(ngModel)]="scannedData.text" [ngModelOptions]="{standalone: true}"
                required></ion-input>
            </ion-item>
            <div padding>
              <ion-button size="large" full type="submit" expand="block" [disabled]="!registerForm.form.valid">Find
                item</ion-button>
            </div>
            
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>