<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to iTechnologies App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h4>Quick Guide</h4>
      <p>Click on the menu on the upper left corner of the screen next switch to the barcode tab. Scan your barcode or manually
      enter the barcode and after that add the new number of items. And Done!</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <!-- <ion-item href="https://github.com/SzymonKicinski/iTechnologies-mobile">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Open source licence</ion-label>
    </ion-item> -->
    <ion-item href="https://github.com/SzymonKicinski/iTechnologies-mobile/issues/new">
      <ion-icon slot="start" color="medium" name="bug"></ion-icon>
      <ion-label>Any bugs? Create an issue here.</ion-label>
    </ion-item>
    <ion-item href="https://web.facebook.com/kicinski.szymon">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Author</ion-label>
    </ion-item>
  </ion-list>
</ion-content>